header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  color: #FFF;
  background-color: rgb(0, 45, 78);
  font-size: large;
}

.header-title {
}

.Orai-Logo {
  text-align: left;
  height: 70px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar li {
  list-style-type: none;
  text-decoration: none;
  margin: 10px 10px;
}
