.title {
  margin-top: 50px;
  margin-left: 50px;
}

.record-window {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
}

.start-stop {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.status {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}
