

.video-react .video-react-video {
    max-width:400px;
    display: inline-block
    /* float: center; */
}

.listclass{
    /* width: 30%; */
    /* max-height: 50px ; */
    /* position: relative; */
    /* overflow: auto; */
    /* maxHeight: 300, */
}

.main-container {
    float: left;
    position: relative;
    left: 50%;
    margin-top:50px;
  }

  .fixer-container {
    float: left;
    position: relative;
    left: -50%;
  }